@import url("https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');

body {
	padding: 5px;
	background-color: #efebe9;
}

.app {
	padding-left: 5px;
	margin-left: 5px;
}

i {
	font-size: 20px;
	margin: 2px;
}

i:hover {
	zoom: 1.1;
	color: #45a0ca;
}

.container {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -100px 0 0 -150px;
	text-align: center;
	display: inline-block;
}

h1 {
	font-family: 'La Belle Aurore', cursive;
	padding-left: 0%;
	text-align: center;
	font-size: 350%;
	margin-bottom: -25px;
}

.login {
	-moz-box-shadow: inset 0px 1px 0px 0px #424242;
	-webkit-box-shadow: inset 0px 1px 0px 0px #424242;
	box-shadow: inset 0px 1px 0px 0px #424242;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #424242), color-stop(1, #424242));
	background: -moz-linear-gradient(center top, #424242 5%, #424242 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color: #424242;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	text-indent: 0;
	border: 1px solid #424242;
	display: inline-block;
	color: #ffffff;
	font-size: 12px;
	font-style: normal;
	height: 34px;
	line-height: 34px;
	width: 79px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #000000;
	margin: 5px;
}

.login:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7b94ac), color-stop(1, #899ca8));
	background: -moz-linear-gradient(center top, #155086 5%, #63b8ee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color: #91a6b9;
	font-weight: bold;
}

.login:active {
	position: relative;
	top: 1px;
}

.signup {
	-moz-box-shadow: inset 0px 1px 0px 0px #424242;
	-webkit-box-shadow: inset 0px 1px 0px 0px #424242;
	box-shadow: inset 0px 1px 0px 0px #424242;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #424242), color-stop(1, #424242));
	background: -moz-linear-gradient(center top, #424242 5%, #424242 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#424242');
	background-color: #424242;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	text-indent: 0;
	border: 1px solid #424242;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	height: 34px;
	line-height: 34px;
	width: 79px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #424242;
}

.signup:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7b94ac), color-stop(1, #899ca8));
	background: -moz-linear-gradient(center top, #155086 5%, #63b8ee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color: #91a6b9;
	font-weight: bold;
}

.signup:active {
	position: relative;
	top: 1px;
}

.cancel {
	-moz-box-shadow: inset 0px 1px 0px 0px #424242;
	-webkit-box-shadow: inset 0px 1px 0px 0px #424242;
	box-shadow: inset 0px 1px 0px 0px #424242;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #424242), color-stop(1, #424242));
	background: -moz-linear-gradient(center top, #424242 5%, #424242 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#424242');
	background-color: #424242;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	text-indent: 0;
	border: 1px solid #424242;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	height: 34px;
	line-height: 34px;
	width: 79px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #424242;
}

.cancel:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7b94ac), color-stop(1, #899ca8));
	background: -moz-linear-gradient(center top, #155086 5%, #63b8ee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color: #91a6b9;
	font-weight: bold;
}

.cancel:active {
	position: relative;
	top: 1px;
}

input {
	text-align: center;
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 5px 10px;
	border: 1px solid #b7b7b7;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font: normal 16px/normal "Times New Roman", Times, serif;
	color: rgba(0, 142, 198, 1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(252, 252, 252, 1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
	-webkit-transition: all 200ms cubic-bezier(0.22, 0, 0.28, 1);
	-moz-transition: all 200ms cubic-bezier(0.22, 0, 0.28, 1);
	-o-transition: all 200ms cubic-bezier(0.22, 0, 0.28, 1);
	transition: all 200ms cubic-bezier(0.22, 0, 0.28, 1);
	margin-bottom: 2%;
}

.loginError {
	color: red;
}

.logoutContainer {
	float: right;
	text-align: right;
}

.logout {
	text-align: right;
	color: rgb(15, 15, 15);
	padding: 10px;
}

.userDashboard {
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
}

.dashboardUserNotes {
	text-align: center;
	margin: 0 auto;
}

.help {
	font-size: 14px;
	text-align: left;
	inset-inline: block;
}

.help {
	border: 1px solid rgba(0, 0, 0, 0.068);
	padding: 5px 0px 5px 5px;
}

.goLeft {
	text-align: left;
}

#dashboardMenu {
	text-align: right;
	margin: 0px 5px 5px 0px;
	inset-inline: block;
	padding-bottom: 1%;
	font-size: 22px;
}

.right {
	float: right;
}

table {
	width: 100%;
	table-layout: fixed;
}

.tbl-header {
	height: 40px;
	background: #212121;
}

.tbl-content {
	height: 250px;
	overflow-x: auto;
	margin-top: 0px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background: -webkit-linear-gradient(left, #e0e0e0, #e0e0e0);
	background: linear-gradient(to right#e0e0e0, #e0e0e0);
}

th {
	padding: 15px 15px;
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	color: #fff;
	font-family: 'Nunito', sans-serif;
}

td {
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	font-weight: 300;
	font-size: 15px;
	color: #212121;
	border: solid 1px rgba(129, 121, 45, 0.062);
	font-family: 'Nunito', sans-serif;
}

.trHover:hover {
	background: #546e7a3d;
}

/* demo styles */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

section {
	margin: 0px;
	background: -webkit-linear-gradient(left, #2986dd, #0977ad);
	background: linear-gradient(to right, #2986dd, #0977ad);
}

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.57);
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.57);
}

.divTable {
	display: table;
	width: 100%;
	margin: 2px;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableCell,
.divTableHead {
	border: 1px solid #03000000;
	display: table-cell;
	font-size: 14px;
	text-align: left;
	padding-right: 0px;
}

.fix {
	vertical-align: middle;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
}

.divTableBody {
	display: table-row-group;
}

/*
	css for the footer
*/

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 0 auto;
}

.footer {
	padding-top: 6%;
	font-size: 12px;
	flex-shrink: 0;
	text-align: center;
}

/*
	CSS for the modal(account settings)
*/

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem 1.5rem;
	width: 24rem;
	border-radius: 0.5rem;
}

.close-button {
	font-size: 20px;
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: lightgray;
}

.close-button:hover {
	background-color: darkgray;
}

.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.settingsFix {
	text-align: center;
	margin: 5px;
}

#addNewNote {
	text-align: left;
}

ul {
	list-style-type: none;
}

.termsContainer {
	padding: 5%;
	display: block;
	text-align: center;
	display: inline-block;
}

input[type='checkbox'] {
	text-align: center;
}

input[type='checkbox']+label {
	font-size: 12px;
}

input.note {
	width: 35%;
	font-size: 12px;
	height: 25px;
	color: #000000;
}

.strike {
	text-decoration: line-through;
}

#noteList {
	height: 150px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}

li button {
	height: 30px;
	margin: 2px;
}

.enjoy-css {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 30px;
	height: 27px;
	position: relative;
	cursor: pointer;
	top: 0;
	padding: 0 11.6000003815px;
	border: 1px solid rgb(225, 225, 225);
	font: normal normal 300 12px/32px "Electrolize", Helvetica, sans-serif;
	color: rgb(102, 102, 102);
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	background: -webkit-linear-gradient(0deg, rgb(243, 243, 243) 0, rgb(233, 233, 233) 100%), rgb(238, 238, 238);
	background: -moz-linear-gradient(90deg, rgb(243, 243, 243) 0, rgb(233, 233, 233) 100%), rgb(238, 238, 238);
	background: linear-gradient(90deg, rgb(243, 243, 243) 0, rgb(233, 233, 233) 100%), rgb(238, 238, 238);
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset, 0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset, 0 7px 0 0 rgb(187, 187, 187), 0 8px 3px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset, 0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset, 0 7px 0 0 rgb(187, 187, 187), 0 8px 3px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
	-moz-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
	-o-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
	transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

.enjoy-css:hover {
	padding: 0 11.6px;
	color: rgba(135, 135, 135, 1);
	background: -webkit-linear-gradient(-90deg, rgb(255, 255, 255) 0, rgb(235, 235, 235) 100%), -webkit-linear-gradient(0deg, rgb(243, 243, 243) 0, rgb(233, 233, 233) 100%), rgb(238, 238, 238);
	background: -moz-linear-gradient(180deg, rgb(255, 255, 255) 0, rgb(235, 235, 235) 100%), -moz-linear-gradient(90deg, rgb(243, 243, 243) 0, rgb(233, 233, 233) 100%), rgb(238, 238, 238);
	background: linear-gradient(180deg, rgb(255, 255, 255) 0, rgb(235, 235, 235) 100%), linear-gradient(90deg, rgb(243, 243, 243) 0, rgb(233, 233, 233) 100%), rgb(238, 238, 238);
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
}

.enjoy-css:active {
	top: 6px;
	color: rgba(160, 160, 160, 1);
	background: -webkit-linear-gradient(-90deg, rgb(255, 255, 255) 0, rgb(235, 235, 235) 100%), rgb(255, 255, 255);
	background: -moz-linear-gradient(180deg, rgb(255, 255, 255) 0, rgb(235, 235, 235) 100%), rgb(255, 255, 255);
	background: linear-gradient(180deg, rgb(255, 255, 255) 0, rgb(235, 235, 235) 100%), rgb(255, 255, 255);
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset, 0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset, 0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset;
	-webkit-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
	-moz-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
	-o-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
	transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

tbody a {
	color: #607d8b;
}