body{
    background-color: #ffffff;
    font-family: 'Roboto Slab', serif;
    height:100%; /* important to vertically align the container */
    margin:0;
    padding:0;
}

th {
    text-align: center;
    background-color: #000000;
    border: 1px solid black;
    color: rgba(255, 255, 255, 0.466);
    font-weight: normal;
    padding: 8px;
}
td {
    border: 1px solid rgba(0, 0, 0, 0.205);
    text-align: center;
}

tr {
    height: 40px;
}

tbody {
    border: 1px solid black;
}

#building {
    float: left;
}

.actions {
    width: 40px;
    background-color: #e426ab;
}

.elevator {
    background-color: #41B883;
    width: 80px;
    font-size: 1.7em;
}
.floor {
    background-color: #35495E;
    color: rgba(255, 255, 255, 0.288);
    font-size: 0.9em;
}

.wrap{
    width: 80%;
    margin: 0 auto;
}
.queue {
    float: right;
    max-height: 60%;
    overflow: auto;
    max-width: 200px;
}

table th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.centered {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.container2 {
    height: 100%;
    width: 95%;
    max-width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 1%;
    border: 0.5px solid rgba(0, 0, 0, 0.13);
}


.shadow {
    -moz-box-shadow: 0 0 30px 5px #999;
    -webkit-box-shadow: 0 0 30px 5px #999;
}

.content {
    padding: 30px;
    overflow: auto;
    height: 70vh;
    word-break: break-word;
    margin-bottom: 10px;
    width: 100%;
}


.content-image {
    border-color: white;
}

.content p img {
    border-radius: 8px;
    border: 0.5px solid rgba(128, 128, 128, 0.144);
    max-width: 90%;
    font-size: normal;
}


strong {
    color: black;
    background-color:#00000018;
    padding: 1px;
    font-weight: 600;
    border-radius: 3px;
}
.container2 h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.1em;
    font-weight: bold;
    color: #41B883;
    padding-left: 30px;
}
.container2 h2 {
    color: #41B883;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 15px;
}

.container2 ul {
    margin-top: 10px;
    vertical-align:middle;
    list-style: square;
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 0.8em;
}


.container2 p {
    text-align: justify;
}

.controls{
    text-align: center;
    align-items: center;
    vertical-align: bottom;
}

.button {
    background-color: #35495E;
    padding: 5px;
    color: white;
    text-decoration: none;
    border-radius: 10%;
}
.button:hover {
    background-color: #35495E;
    color:#41B883;
}

.button2 {
    background-color: #35495E;
    padding: 5px;
    color: white;
    text-decoration: none;
}
.button2:hover {
    background-color: #41B883;
    text-decoration: none;
    color: white;
}

.counter {
    color: #35495E;
    font-weight: bold;
    text-align: right;
    position: relative;
    float: right;
    opacity: 0.3;
}

.counter a:hover {
    color: #35495E;
    font-style: bold;
    opacity: 1;
}

.counter a {
    color: rgb(0, 0, 0);
    font-style: bold;
    opacity: 1;
}

img {
    max-height: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

blockquote {
    background: #c8c8c94b;
    border-left: 2px solid #41B883;
    margin: 6px;
    padding: 0.1em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-style: italic;
    border-radius: 3px;
}

blockquote:before {
    color: #35495E;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: #35495E;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.diagram {
    width: 469px;
    height: 1187px;
    max-height: 100%;
    max-width: 100%;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #35495E;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px #35495E;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all .1s ease;
}
.slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(0px);
    opacity: 0;
}

/* Style for the code syntax highlighter*/
.hljs{display:block;overflow-x:auto;padding:.5em;color:#abb2bf;background:#282c34}.hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-keyword,.hljs-formula{color:#c678dd}.hljs-section,.hljs-name,.hljs-selector-tag,.hljs-deletion,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-string,.hljs-regexp,.hljs-addition,.hljs-attribute,.hljs-meta-string{color:#98c379}.hljs-built_in,.hljs-class .hljs-title{color:#e6c07b}.hljs-attr,.hljs-variable,.hljs-template-variable,.hljs-type,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-number{color:#d19a66}.hljs-symbol,.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-title{color:#61aeee}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}.hljs-link{text-decoration:underline}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one 🙂       */
    display: flex;
    align-items: center;
}