body{
    background-color: #fbf8ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%2341b883' fill-opacity='0.2' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
    font-family: 'Roboto Slab', serif;
    height:100%; /* important to vertically align the container */
    margin:0;
    padding:0;
}



.centered {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container2 {
    height: 100%;
    width: 95%;
    max-width: 85%;
    background-color: white;
    padding: 20px;
    border-radius: 1%;
    border: 0.5px solid rgba(0, 0, 0, 0.13);
}

.shadow {
    -moz-box-shadow: 0 0 30px 5px #999;
    -webkit-box-shadow: 0 0 30px 5px #999;
}

.content {
    padding: 30px;
    overflow: auto;
    height: 70vh;
    word-break: break-word;
    margin-bottom: 10px;
    width: 100%;
}

.content-image {
    border-color: white;
}

.content p img {
    border-radius: 8px;
    border: 0.5px solid rgba(128, 128, 128, 0.144);
    max-width: 90%;
    font-size: normal;
}


strong {
    color: black;
    background-color:#00000018;
    padding: 1px;
    font-weight: 600;
    border-radius: 3px;
}
.container2 h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.1em;
    font-weight: bold;
    color: #41B883;
    padding-left: 30px;
}
.container2 h2 {
    color: #41B883;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 15px;
}

.container2 ul {
    vertical-align:middle;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0);
}


.container2 p {
    text-align: justify;
}

.controls{
    text-align: center;
    align-items: center;
    vertical-align: bottom;
}

.button {
    background-color: #41B883;
    padding: 5px;
    color: white;
    text-decoration: none;
    border-radius: 10%;
}
.button:hover {
    background-color: #35495E;
}

.button2 {
    background-color: #35495E;
    padding: 5px;
    color: white;
    text-decoration: none;
}
.button2:hover {
    background-color: #41B883;
    text-decoration: none;
    color: white;
}

.counter {
    color: #35495E;
    font-weight: bold;
    text-align: right;
    position: relative;
    float: right;
    opacity: 0.3;
}

.counter a:hover {
    color: #35495E;
    font-style: bold;
    opacity: 1;
}

.counter a {
    color: rgb(0, 0, 0);
    font-style: bold;
    opacity: 1;
}

img {
    max-height: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

blockquote {
    background: #c8c8c94b;
    border-left: 2px solid #41B883;
    margin: 6px;
    padding: 0.1em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-style: italic;
    border-radius: 3px;
}

blockquote:before {
    color: #35495E;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: #35495E;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.diagram {
    width: 469px;
    height: 1187px;
    max-height: 100%;
    max-width: 100%;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #35495E;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px #35495E;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all .1s ease;
}
.slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(0px);
    opacity: 0;
}

/* Style for the code syntax highlighter*/
.hljs{display:block;overflow-x:auto;padding:.5em;color:#abb2bf;background:#282c34}.hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-keyword,.hljs-formula{color:#c678dd}.hljs-section,.hljs-name,.hljs-selector-tag,.hljs-deletion,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-string,.hljs-regexp,.hljs-addition,.hljs-attribute,.hljs-meta-string{color:#98c379}.hljs-built_in,.hljs-class .hljs-title{color:#e6c07b}.hljs-attr,.hljs-variable,.hljs-template-variable,.hljs-type,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-number{color:#d19a66}.hljs-symbol,.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-title{color:#61aeee}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}.hljs-link{text-decoration:underline}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one 🙂       */
    display: flex;
    align-items: center;
}