.board-table {
    max-width: 600px;
    margin: auto;
    padding: 5px 0px 0px 10px;
}

body {
    background-color: lightblue;
    margin: 5%;
}

.resetGame {
    padding: 0px;
    text-align: center;
    margin-bottom: 3px;
}

.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}


.title {
    color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 120%; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; 
    text-align: center;
}

.players {
    color: red;
    text-align: center;
    font-size: 20px;
}
.box2 {
    padding: 20px;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    display: inline-block;
    margin: 2px;
}
.box {
    width : 30%;
    background-color: lightslategray;
    padding-top: 10%;
    padding-bottom: 10%;
    float: left;
    color: lightslategray;
    margin: 1%;
    font-size: 40px;
    text-align: center;
}

.box:hover {
    cursor: default;
}
.player1 {
    background: red;
    color: white;
}

.player2 {
    background:black;
    color: white;
}